<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.simjessimsol.simcv"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front.autofocus"
        android:required="false" />
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_cv"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".menu_main.MainMenuActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".detection.FaceDetection"
            android:label="@string/title_activity_facedetection"
            android:screenOrientation="landscape">

        </activity>
        <activity
            android:name=".colortracker.Drawtivity"
            android:label="@string/title_activity_drawtivity"
            android:screenOrientation="landscape">

        </activity>
        <activity
            android:name=".detection.CircleDetection"
            android:label="@string/title_activity_circledetection"
            android:screenOrientation="landscape">

        </activity>
        <activity
            android:name=".detection.ForegroundDetection"
            android:label="foreground detection"
            android:screenOrientation="landscape">

        </activity>
        <activity
            android:name=".nonopencv.drawwithgl.TrackerOpenGL"
            android:label="@string/title_activity_tracker_open_gl"
            android:screenOrientation="landscape">

        </activity>
    </application>

</manifest>
